body {
    text-align: center;
    background-color: lightblue;
    margin: 0;
}

#text {
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

#aggiungi {
    width: 30%;
    height: 35px;
    padding: 5px;
    font-size: 18px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    background-color: lightcoral;
    
}

#cerca {
    width: 60%;
    height: 35px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

#principale {
    width: 70%;
    background-color: lightblue;
    margin: 100px auto 100px auto;
    border-radius: 20px;
    border: 2px solid navy;
}

.todo{
    width: 65%;
    margin: auto;
    padding:15px;
    font-size: 18px;
    background-color: lightcoral;
    margin-bottom: 15px;
    border: 1px solid brown;
    border-radius: 20px;
    text-align: left;
}
.todo.completato{
    background-color: lightblue;
    text-decoration: line-through;
}
.todo button{
    background-color: rgba(0, 128, 0, 0.584);
    color: #fff;
    border: none;
    border-radius: 3px;
    float: right;
    font-size: 18px;
}

.todo.completato button{
    background-color: red;
}
