/* colori */
$coloreHeader: #170a48;
$colorePulsanteErrore: #ffa500;
$coloreParole: #f27934;
$coloreFooter: #6285f9;
$coloreBordoInput: #2d78d5;
$coloreOutlineHeader: #e7bfac;
$bianco: #fff;
$grigio: gray;
/* grandezze */
$larghezzaFooter: 100%;
$altezzaFooter: 70px;
$radius: 20px;
/* spazi */
$paddingX: 20px;
$paddingY: $paddingX * 2;
$margineXGenerale: 2vw;
/* altre grafiche */
