<div class="row m-5">
  <div class="col-6 my-3">
    <button class="green">Hello Reverendo Green</button>
  </div>
  <div class="col-6 my-3">
    <button class="red">Hello Miss Scarlett</button>
  </div>
  <div class="col-6 my-3">
    <button class="violet">Hello Mr. Plum</button>
  </div>
  <div class="col-6 my-3">
    <button class="yellow">Hello Mr. Mustard</button>
  </div>
  <div class="col-6 my-3">
    <button class="blue">Hello Miss. Peacock</button>
  </div>
  <div class="col-6 my-3">
    <button class="grey">Hello Dr. Black</button>
  </div>
</div>
