nav {
    h2 {
        text-transform: uppercase;
        font: {
            size: $grandezzaH2;
            weight: bold;
            family: 'Tahoma';
        }
        &:hover {
            animation: myMove linear 0.3s 1;
            color: orange;
        }
    }
    ul {
        li {
            a {
                text-decoration: none;
                padding: $paddingY $paddingX;
                color: $coloreLink;
                cursor: pointer;
                font: {
                    size: $grandezzaTestiSemplici;
                    family: 'Helvetica'
                }
                &:hover {
                    text-decoration: underline;
                    text-transform: uppercase;
                    color: orange;
                }
            }
        }
    }
}

.testuale {
    h1 {
        font: {
            size: $grandezzaH1;
            weight: bold;
            family: Arial;
        }
        &:hover {
            animation: myMove linear 0.5s 1;
            color: red;
        }
    }
    p {
        font: {
            size: $grandezzaTestiSemplici;
            family: Arial;
        }
        &:hover {
            color: yellowgreen;
        }
    }
}

@keyframes myMove {
    /* from */
    50% {
        transform: rotate(180deg); /* step intermedio dell'animazione */
    }
    /* to */
    100% {
        transform: rotate(360deg);
    }
}