$coloreHeader: #5b17bd;
$sfondoPulsanteBlu: #3269f7;
$sfondoPulsanteArancio: #f08d37;
$testoPulsante: #fff;
$paddingX: 18px;
$paddingY: $paddingX*1.5;
$coloreLink: #e5c7f7;
$paddingOrizzontaleGenerale: 10rem;
$paddingVerticaleGenerale: 3rem;
$grandezzaH2: 36px;
$grandezzaH1: 48px;
$grandezzaTestiSemplici: 18px;
$radius: 8px;