@import 'variabili';
@import 'pulsanti';
@import 'testi';

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $coloreHeader;
}

header {
    padding: $paddingVerticaleGenerale $paddingOrizzontaleGenerale;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        li {
            list-style-type: none;
        }
    }
}

.contenitore {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.immagine {
    img {
        border-radius: 25%;
        margin-left: 20px;
        &:hover {
            box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
            transform: scale(1.1);
        }
    }
    
}