/* variabili per colori */
$gradienteChiaro: #7e36f4;
$gradienteScuro: #6712f0;
$sfondoGrigio: #f5f5f5;
$sfondoBottone: #660ff0;
/* variabili per margini e padding */
$paddingY: 5px;
$paddingX: $paddingY * 2;
$paddingSezione1: 20vh;
/* variabili per dimensioni */
// $larghezza100: 100%;
// $larghezza90: 90%;
// $larghezza80: 80%;
// $larghezza70: 70%;
// $larghezza60: 60%;
// $altezza10VH: 10vh;
// $altezza5VH: 5vh;
// $altezza3VH: 3vh;
/* variabili per altre funzionalità */
$radius: 5px;