.menu {
    display: flex;
    background: rgb(253, 239, 159);
    border-radius: 60px;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.normale {
    color: rgb(131, 94, 0);
    background-color: rgb(248, 226, 99);
    margin: 1em;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 30px;
}

.div-logo {
    display: flex;
    align-items: center;
    color: rgb(131, 94, 0);
    background-color: rgb(248, 226, 99);
    margin: 1em;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 40px;
    font-weight: bold;
    flex: 2;
    justify-content: space-around;
    height: 60px;
}

.logo {
    height: 50px;
    margin-right: 2em;
}